@font-face {
    font-family: FuturaBold;
    src: url("fonts/futura/futura_bold.otf") format("opentype");
}

@font-face {
    font-family: FuturaLight;
    src:  url("fonts/futura/futura_light.otf") format("opentype");
}

.content-headings {
    font-family: FuturaBold;
    font-weight: bold;
    font-size: 70px;
}

.content-sub-headings {
    font-family: FuturaLight;
    font-weight: bold;
    font-size: 25px;
}

.headings-details {
    font-family: FuturaLight;
    font-size: 30px;
}

.headings-sub-details {
    font-family: FuturaLight;
    font-size: 18px;
}

.siteTitle {
    font-family: FuturaBold;
    font-weight: bold; 
    color: black;
}





@media only screen and (max-width: 600px) {
        
    .content-headings {
        font-family: FuturaBold;
        font-weight: bold;
        font-size: 50px;
    }

    .content-sub-headings {
        font-family: FuturaLight;
        font-weight: bold;
        font-size: 20px;
    }
    
    .headings-details {
        font-family: FuturaLight;
        font-size: 25px;
    }

    .headings-sub-details {
        font-family: FuturaLight;
        font-size: 12px;
    }
}
