@font-face {
    font-family: FuturaBold;
    src: url("fonts/futura/futura_bold.otf") format("opentype");
}

@font-face {
    font-family: FuturaLight;
    src:  url("fonts/futura/futura_light.otf") format("opentype");
}

.content-headings {
    font-family: FuturaBold;
    font-weight: bold;
    font-size: 70px;
}

.content-sub-headings {
    font-family: FuturaLight;
    font-weight: bold;
    font-size: 25px;
}

.headings-details {
    font-family: FuturaLight;
    font-size: 30px;
}

.headings-sub-details {
    font-family: FuturaLight;
    font-size: 18px;
}

.siteTitle {
    font-family: FuturaBold;
    font-weight: bold; 
    color: black;
}

.ApplyBtnHeader {
    font-family: FuturaLight;
    font-size: 25px;
    margin-right: 35px;
    margin-top: 5px;
    padding: 10px 40px;
    cursor: pointer;
    background: none;
    border: 2px solid #f76268;
    border-radius: 40px;
    transition: all 0.4s ease 
}

.ApplyBtnHeader:hover, .ApplyBtnHeader:active {
    box-shadow:
    1px 1px #53a7ea,
    2px 2px #53a7ea,
    3px 3px #53a7ea;
    background: #f76268;
    color: white;
    transform: translateX(-3px);
}




@media only screen and (max-width: 600px) {
        
    .content-headings {
        font-family: FuturaBold;
        font-weight: bold;
        font-size: 45px;
    }

    .content-sub-headings {
        font-family: FuturaLight;
        font-weight: bold;
        font-size: 20px;
    }
    
    .headings-details {
        font-family: FuturaLight;
        font-size: 25px;
    }

    .headings-sub-details {
        font-family: FuturaLight;
        font-size: 12px;
    }
}
