@font-face {
    font-family: FuturaBold;
    src: url("fonts/futura/futura_bold.otf") format("opentype");
}

@font-face {
    font-family: FuturaLight;
    src:  url("fonts/futura/futura_light.otf") format("opentype");
}

.join-us-text {
    font-family: FuturaBold;
    font-size: 50px;
}

.content-headings {
    font-family: FuturaBold;
    font-weight: bold;
    font-size: 70px;
}

.content-sub-headings {
    font-family: FuturaLight;
    font-weight: bold;
    font-size: 25px;
}

.headings-details {
    font-family: FuturaLight;
    font-size: 30px;
}

.headings-sub-details {
    font-family: FuturaLight;
    font-size: 18px;
}

.siteTitle {
    font-family: FuturaBold;
    font-weight: bold;
    font-size: 35px; 
    color: black;
}

.ApplyBtnHeader {
    font-family: FuturaLight;
    font-size: 25px;
    margin-right: 35px;
    margin-top: 5px;
    padding: 10px 40px;
    cursor: pointer;
    background: none;
    border: 2px solid #f76268;
    border-radius: 40px;
    transition: all 0.4s ease 
}

.ApplyBtnHeader:hover, .ApplyBtnHeader:active {
    box-shadow:
    1px 1px #53a7ea,
    2px 2px #53a7ea,
    3px 3px #53a7ea;
    background: #f76268;
    color: white;
    transform: translateX(-3px);
}

.img-class {
    max-width: 400px;
    max-height: 400px;
    padding: 0px 30px 30px 30px;
    position: relative; 
    top: 20%;

}



.main-header-div {
    background-color: #f9f7f2;
    height: 700px;
}

.main-header-div-2 {
    background-color: white;
    height: 700px;
}

/* style={{ position: "relative", top: "20%", maxWidth: '400px', maxHeight: "400px"}} */
/* style={{backgroundColor: "#f9f7f2", height: "700px"}} */
@media only screen and (max-width: 600px) {
        
    .siteTitle {
        font-family: FuturaBold;
        font-weight: bold;
        font-size: 25px; 
        color: black;
    }

    .content-headings {
        font-family: FuturaBold;
        font-weight: bold;
        font-size: 35px;
    }

    .content-sub-headings {
        font-family: FuturaLight;
        font-weight: bold;
        font-size: 20px;
    }
    
    .headings-details {
        font-family: FuturaLight;
        font-size: 25px;
    }

    .headings-sub-details {
        font-family: FuturaLight;
        font-size: 12px;
    }

    .ApplyBtnHeader {
        font-family: FuturaLight;
        font-size: 20px;
        margin-right: 30px;
        margin-top: 4px;
        padding: 7px 30px;
        cursor: pointer;
        background: none;
        border: 1px solid #f76268;
        border-radius: 40px;
        transition: all 0.4s ease 
    }
    .img-class {
        max-width: 400px;
        max-height: 400px;
        padding: 0px 30px 30px 30px;
        position: relative; 
        top: 0%;
        left: 0%
    }
    .main-header-div {
        background-color: #f9f7f2;
        height: 750px;
    }

    .join-us-text {
        font-family: FuturaBold;
        font-size: 30px;
    }

    .main-header-div-2 {
        background-color: white;
        height: 750px;
    }
}
