/* 
.Page-Contents {
    padding-top: 120px;
} */


.link {
    text-decoration: none;
}

.scroll-div {
    position: relative
}

ul.nav-pills {
    top: 20px;
    position: fixed;
}
div.col-8 div {
    height: 500px;
}
.blog-title {
    color: black;
    text-decoration: none;
    transition: all 0.2s
}

.blog-title:hover {
    color: #f76268;
    text-decoration: none
}

/* 
@media (min-width: 600px) and (max-width: 1100px) {
    .about-page-container-div {
        text-align: center;
        background-color: #f9f7f2;
        padding: "40px";
        align-content: center
    }
}

@media only screen and (max-width: 600px) {
    .about-page-container-div {
        text-align: center;
        background-color: #f9f7f2;
        padding: "20px";
        align-content: center
    }
} */