/* 
.Page-Contents {
    padding-top: 120px;
} */

.link {
    text-decoration: none;
}

.scroll-div {
    position: relative
}

ul.nav-pills {
    top: 20px;
    position: fixed;
}
div.col-8 div {
    height: 500px;
}
.blog-title {
    color: black;
    text-decoration: none;
    transition: all 0.2s
}

.blog-title:hover {
    color: #f76268;
    text-decoration: none
}