
@font-face {
    font-family: FuturaLight;
    src:  url("fonts/futura/futura_light.otf") format("opentype");
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #f76268;
    overflow-x: hidden;
    transition: 0.3s ;
    padding-top: 60px;
    
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: all 0.2s ease;
    font-family: FuturaLight;
    font-weight: bold;

}


.list {
    background-image: linear-gradient(120deg, #f76268 0%, #f76268 50%, white 50%);
    background-size: 220%;
}

.list:hover, .list:active {
    color: black;
    text-decoration: none;
    transform: scale(0.9);
    background-position: 100%;
}


.closebtn:hover{
    color: white;
    text-decoration: none;
    transform: scale(0.8)
}

.sidenav  .closebtn {
    position: absolute;
    top: 0px;
    right: 25px;
    /* right: 210px; */
    font-size: 36px;
    margin-left: 50px;
}

.openNavBtn {
    transition: all 0.3s ease;
}

.openNavBtn:hover {
    color: #f76268;
    transform: scale(1.2)
}


@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.ApplyBtnNavbar {
    font-family: FuturaLight;
    font-size: 18px;
    float: right;
    margin-right: 35px;
    margin-top: 5px;
    padding: 07px 25px;
    cursor: pointer;
    background: none;
    border: 1px solid #f76268;
    border-radius: 40px;
    transition: all 0.4s ease 
}

.ApplyBtnNavbar:hover, .ApplyBtnNavbar:active {
    background: #f76268;
    color: white;
    transform: scale(0.96)
}

/* 
.ApplyBtnNavbar:hover {
    box-shadow:
    1px 1px #53a7ea,
    2px 2px #53a7ea,
    3px 3px #53a7ea;
    background: #f76268;
    color: white;
    transform: translateX(-3px);
} */